@model IndexViewModel

@{ await Html.RenderPartialAsync("IntroStatement", new IntroStatementViewModel()); }

<!-- portfolio section start -->
<section class="portfolio-section">
    <div class="container">
        <ul class="portfolio-filter controls">
            <li class="control" data-filter="all">All</li>
            @foreach (var filter in Model.TagList)
            {
                <li class="control" data-filter=".@filter">@filter</li>
            }
        </ul>
    </div>
    <div class="container-fluid p-md-0 ">
        <div class="row portfolios-area">
            @foreach (var item in Model.PortfolioItems)
            {
                <div class="mix col-lg-6 col-md-6 @item.Tags[0]">
                    <div class="portfolio-item" style="background-image:url('@item.ImageSrc')">
                        <div class="pi-inner text-center row">
                            @if (!string.IsNullOrWhiteSpace(item.LiveDemoSrc))
                            {
                                <h2 class="col-lg-6 col-md-6 my-auto">
                                    <a href="@item.LiveDemoSrc">
                                        <span class="fa fa-link"></span>
                                        <br />Live Demo
                                    </a>
                                </h2>
                            }
                            @if (!string.IsNullOrWhiteSpace(item.SourceCodeSrc))
                            {
                                <h2 class="col-lg-6 col-md-6 my-auto">
                                    <a href="@item.SourceCodeSrc">
                                        <span class="fa fa-code"></span>
                                        <br />Source Code
                                    </a>
                                </h2>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- portfolio section end -->